.about {
   &__desc {
      padding-left: 300rem;
      max-width: 875rem;
      margin-bottom: 125rem;
   }
   &__keywords {
      font-size: 50rem;
      font-weight: 300;
      span {
         padding-right: 45rem;
         padding-left: 45rem;
         border-bottom: 1px solid #fff;
      }
   }
}