.collection {
   .container {
      gap: 128rem;
      border-bottom: 1px solid rgba($color: #fff, $alpha: .5);
   }

   &__info {
      flex-basis: 42%;
      padding-bottom: 162rem;
   }

   &__img {
      width: 636rem;
      margin-top: auto;
      position: relative;

      &::before {
         position: absolute;
         width: 150%;
         height: 150%;
         content: '';
         top: -40%;
         z-index: -1;
         left: -16%;
         background: radial-gradient(rgba(255,255,255,.3), rgba(255,255,255,0) 60%);
      }
   }

   h2 {
      margin-bottom: 140rem;
   }

   h3 {
      margin: 54rem 0 15rem;
   }
}

@media (max-width: 767px) {
   .collection {
      &__info {
         
         h3 {
            margin: 32px 0 6px;
         }
      }

      &__img {
         width: 100%;
         margin-top: 40px;
         border-bottom: 1px solid rgba($color: #fff, $alpha: .5);

         img {
            width: 92%;
         }
      }
   }
}