.collection {
   .container {
      gap: 128rem;
      border-bottom: 1px solid rgba($color: #fff, $alpha: .5);
   }

   &__info {
      flex-basis: 42%;
      padding-bottom: 162rem;
   }

   img {
      // flex-basis: 45%;
      width: 636rem;
      object-fit: contain;
      margin-top: auto;
      // height: auto;
   }

   h2 {
      margin-bottom: 140rem;
   }

   h3 {
      margin: 54rem 0 15rem;
   }
}

@media (max-width: 767px) {
   .collection {
      &__info {
         flex-basis: 82%;
      }
   }
}