.contacts {
   position: relative;
   z-index: 11;
   background-color: #000;
   border-top: 1px solid rgba($color: #fff, $alpha: .5);

   .container {
      padding: 170rem 110rem 170rem 0;
   }

   &__collaborate {
      font-size: 50rem;
      font-weight: 100;
      line-height: 1.2;

      a {
         display: block;
         font-size: inherit;
         font-weight: 500;
         text-decoration: underline;
      }
   }
   [href^=mailto] {
      font-size: 65rem;
      border-bottom: 1px solid rgba($color: #fff, $alpha: 1.0);
   }
}