.faq {
	padding-top: 0;

	.container {
		padding-bottom: 136rem;
		padding-right: 110rem;
	}

	h2 {
		font-weight: 400;
		span {
			font-size: 50rem;
		}
	}

	h3 {
		font-size: 35rem;
	}

	&__item {
		margin-bottom: 58rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__question {
		cursor: pointer;
		transition: .3s;
		padding-bottom: 10rem;
		user-select: none;
		border-bottom: 1px solid rgba($color: #fff, $alpha: .5);

		h5 {
			font-size: 9rem;
			font-weight: 700;
			display: flex;
			padding-right: 8rem;

			span {
				margin-right: 6rem;
				font-weight: 400;
				white-space: nowrap;
			}
		}

		&.active {
			.faq__arrow {
				transform: rotate(180deg);
			}

			&+.faq__answer {
				visibility: visible;
				opacity: 1;
				transform: scaleY(1);
			}
		}
	}

	&__arrow {
		transition: transform .25s;
		width: 40rem;
	}

	&__answer {
		height: 0;
		position: relative;
		opacity: 0;
		visibility: hidden;
		transform: scaleY(.2);
		transform-origin: center top;
		transition: .3s;

		&-wrap {
			padding: 41rem 0 1rem 508rem;
		}
	}
}

@media (max-width: 767px) {
	.faq {
		.container {
			padding-right: 0;
			padding-bottom: 86px;
		}

		&__item {
			margin-bottom: 24px;
		}

		h2 {
			margin-bottom: 40px;
			span {
				font-size: 17px;
			}
		}

		h3 {
			font-size: 17px;
			line-height: 1;
			margin-right: 4px;
		}

		&__answer {
			&-wrap {
				padding: 10px 0 0 36px;
			}
		}

		&__question {
			padding-bottom: 10px;
		}

		&__arrow {
			width: 14px;
		}

		p {
			font-size: 10px;
		}
	}
}