.headnav {
   ul {
      position: relative;
      padding-left: 27rem;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         width: 1px;
         background-color: #fff;
      }
   }

   li {
      line-height: 1;
      margin-bottom: 40rem;

      .num {
         font-size: 12px;
      }

      a {
         font-size: 25rem;
         font-weight: 300;
         position: relative;

         &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            transition: background-color .3s ease;
         }

         &:hover::after {
            background-color: #fff;
         }
      }
   }
}