.hero {
   position: relative;
   z-index: 1;

   &__main {
      height: 100vh;
      min-height: 800px;
      padding-top: 83rem;
   }

   h1 {
      margin-bottom: 84rem;
   }

   &__mint {
      width: 100%;
      max-width: 300rem;
      margin-bottom: 100rem;
   }

   .button {
      font-size: 30rem;
      line-height: 1;
      padding-top: 5rem;
      padding-bottom: 5rem;
      letter-spacing: -0.01em;
   }

   &__counter {
      font-size: 31rem;
      letter-spacing: normal;
      position: relative;
      padding: 5rem 20rem;
      border-bottom: 1px solid #fff;

      button {
         color: #fff;
         font-size: inherit;
         background-color: transparent;
         border: none;
         cursor: pointer;
         min-width: 40px;
      }
   }

   &__sale-info {
      margin-top: auto;
      margin-bottom: 45rem;
      gap: 105rem;
   }

   &__sale-type {
      font-size: 45rem;
      line-height: 1.65;
   }

   &__sale-time {
      font-size: 22rem;
      font-weight: 100;
      letter-spacing: normal;
      padding: 0 45rem 30rem;
      border-bottom: 1px solid #fff;
   }

   &__bg {
      object-fit: cover;
      z-index: -1;
   }

   .mask {
      background-color: #000;
      opacity: .7;
      z-index: -1;
   }
}