:root {
  --clip-position: center;
}

.hero {
   position: relative;
   z-index: 1;

   &__main {
      height: 100vh;
      padding-top: 83rem;
      min-height: 50vw;
      max-height: 75vw;
   }

   h1 {
      margin-bottom: 84rem;
   }

   &__mint {
      width: 100%;
      max-width: 300rem;
      margin-bottom: 100rem;
   }

   .button {
      font-size: 30rem;
      line-height: 1;
      padding-top: 5rem;
      padding-bottom: 5rem;
      letter-spacing: -0.01em;
   }

   &__counter {
      font-size: 31rem;
      letter-spacing: normal;
      position: relative;
      padding: 5rem 20rem;
      border-bottom: 1px solid #fff;

      button {
         color: #fff;
         font-size: inherit;
         background-color: transparent;
         border: none;
         cursor: pointer;
         min-width: 40px;
      }
   }

   &__sale-info {
      margin-top: auto;
      margin-bottom: 45rem;
      gap: 105rem;
   }

   &__sale-type {
      font-size: 45rem;
      line-height: 1.65;
   }

   &__sale-time {
      font-size: 22rem;
      font-weight: 100;
      letter-spacing: normal;
      padding: 0 45rem 30rem;
      border-bottom: 1px solid #fff;
   }

   circle {
      transition: r .4s;
   }

   &__mask {
      z-index: -1;
   }
   &__bg {
      z-index: -1;

      img {
         object-fit: cover;
         object-position: center top;
      }

      &-shaded {
         filter: brightness(.4) grayscale(1);
      }

      &-mask {
         clip-path: url(#mask);
         transition: .15s;
      }
   }
}
@media (max-width: 767px) {
   .hero {
      &__main {
         height: 100vh;
         min-height: auto;
         max-height: none;
         padding-top: 115px;
      }

      h1 {
         line-height: 1.1;
         z-index: 4;
      }

      &__mint {
         max-width: 150px;
         z-index: 4;
      }

      .button {
         font-size: 15px;
         border-radius: 4px;
         padding: 3px 0;
      }

      &__counter {
         font-size: 15px;
         margin-top: 5px;
         padding: 4px 0px;
         border-color: rgba(255,255,255,.5);

         button {
            color: #fff;
            font-size: inherit;
            background-color: transparent;
            border: none;
            cursor: pointer;
            min-width: 40px;
         }
      }

      &__video {
         position: absolute;
         bottom: 0;
         width: 100%;
         left: 0;
         
         &.playing {
            .hero__controls {
               opacity: 0;
               visibility: hidden;
            }
            .play {
               display: none;
            }
            .pause {
               display: block;
            }
            &.cursor {
               &:hover {
                  .hero__controls {
                     opacity: 1;
                     visibility: visible;
                  }
               }
            }
            &.clicked {
               .hero__controls {
                  opacity: 1;
                  visibility: visible;
               }
            }
         }
      }
      &__controls {
         background: rgba(0, 0, 0, .5);
         z-index: 3;
         transition: .2s;
         img {
            width: 60px;
            cursor: pointer;
         }
         .pause {
            display: none;
         }
      }
   }

   .plyr {
       max-width: 100%;
       position: relative;
   }

   .plyr video {
       display: block;
       height: 100%;
       width: 100%
   }


   .plyr:focus {
       outline: 0
   }

   .plyr__poster {
       background-position: 50% 50%;
       background-repeat: no-repeat;
       background-size: cover;
       height: 100%;
       left: 0;
       opacity: 0;
       position: absolute;
       top: 0;
       transition: opacity .2s ease;
       width: 100%;
       z-index: 1
   }

   .plyr--stopped.plyr__poster-enabled .plyr__poster {
       opacity: 1
   }
}








