@media (max-width: 1365px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {
	section {}

	.flex {
		&.col-mob {
			flex-direction: column;
		}
		.w-100-mob {
			flex-basis: 100%;
			width: 100%;
		}
	}

	.d-none-mob {
		display: none;
	}

	html {
	}

	h1 {
		font-size: 30px;
		line-height: 1.42;
		max-width: 260px;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		font-size: 30px;
		line-height: 1;
	}

	h3 {
		font-size: 20px;
		line-height: 1.425;
	}

	p {
		font-size: 12px;
		line-height: 1.2;
	}
}