@media (max-width: 1365px) {}

@media (max-width: 1023px) {}

@media (min-width: 767px) {
	.d-none-desc {
		display: none;
	}
}

@media (max-width: 767px) {
	html {
	}
	
	.flex {
		&.col-mob {
			flex-direction: column;
		}
		
		.w-100-mob {
			flex-basis: 100%;
			width: 100%;
			max-width: none;
		}
		.wrap-mob {
			flex-wrap: wrap;
		}
	}

	.d-none-mob {
		display: none;
	}

	section {
		h2 {

		}
	}

	.container {
		margin: 0 35px 0 90px;
		padding-top: 85px;
	}

	.button {
		border-radius: 3px;
	}

	h1 {
		font-size: 30px;
		line-height: 1.42;
		max-width: 260px;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		font-size: 30px;
		line-height: 1;
	}

	h3 {
		font-size: 20px;
		line-height: 1.425;
	}

	p {
		font-size: 12px;
		line-height: 1.2;
	}
}