.plan {
   .container {
      padding-right: 100rem;
      padding-bottom: 130rem;
      border-bottom: 1px solid rgba($color: #fff, $alpha: .5);
   }

   h2 {
      font-weight: 400;
      line-height: 1.4;
   }

   h3 {
      font-weight: 300;
      text-align: center;
      padding-bottom: 14rem;
      margin-bottom: 30rem;
      border-bottom: 1px solid rgba($color: #fff, $alpha: .5);
   }

   &__items {
      gap: 90rem;
   }
   &__item {
      max-width: 30%;

      p:not(:last-child) {
         margin-bottom: 10rem;
      }
   }
}

@media (max-width: 767px) {
   .plan {
      .container {
         padding-bottom: 88px;
         padding-right: 0;
      }

      h2 {
         margin-bottom: 40px;
      }

      h3 {
         text-align: left;
      }

      &__item {
         max-width: none;
         p:not(:last-child) {
            margin-bottom: 8px;
         }
      }
   }
}