.roadmap {
   ol {
      position: relative;

      &::before {
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         bottom: 0;
         width: 30rem;
         border: 1px solid gray;
      }
   }

   li {
      padding-left: 74rem;
      list-style-position: inside;
      list-style-type: decimal;
      position: relative;
      
      &:not(:last-child){
         padding-bottom: 68rem;

         &::after {
            content: '';
            position: absolute;
            left: 5rem;
            top: 49rem;
            bottom: -32rem;
            width: 5px;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            background-color: #000;
         }
      }

      &::before {
         content: '';
         position: absolute;
         top: 31rem;
         left: 0;
         height: 16px;
         width: 16px;
         border-radius: 50%;
         border: 1px solid #fff;
         background-color: #000;
      }

      span {
         display: block;
         font-size: 35rem;
         font-weight: 100;
         margin-bottom: 13rem;
      }
   }

   h3 {
      display: inline-block;
      margin-bottom: 8rem;
   }

   h3,
   li {
      font-size: 35rem;
      font-weight: 500;
   }
}