.roadmap-2 {
   .container {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
   }

   ul {
      padding-left: 72rem;
   }

   li {
      margin-bottom: 60rem;

      .num {
         font-size: 25rem;
         font-weight: 300;
         margin-bottom: 16rem;
      }
   }

   h3 {
      line-height: 1.44;
      font-weight: 300;
      display: inline-block;
      padding: 13rem 46rem 17rem;
      margin-bottom: 22rem;
      border: 1px solid rgba($color: #fff, $alpha: 0.5);
      border-radius: 10rem;
   }

   &__img {
      width: 636rem;
      object-fit: contain;
      margin-top: auto;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         width: 150%;
         height: 150%;
         top: -67%;
         z-index: -1;
         left: -23%;
         background: radial-gradient(rgba(255,255,255,.3), rgba(255,255,255,0) 60%);
      }
   }

   li .num,
   p {
      padding-left: 46rem;
   }
}

@media (max-width: 767px) {
   .roadmap-2 {
      h2 {
         margin-bottom: 34px;
      }

      ul {
         padding-left: 0;
         margin-bottom: 45px;
      }

      li {
         margin-bottom: 28px;

         .num {
            font-size: 12px;
            margin-bottom: 9px;
         }

         p {
            font-size: 10px;
         }
      }
      
      h3 {
         padding: 0 18px;
         margin-bottom: 10px;
      }

      li .num,
      p {
         padding-left: 18px;
      }

      &__img {
         width: 92%;

         &::before {
            display: none;
         }
      }
   }
}
