.roadmap-2 {
   $padding-left: 46rem;

   .container {
      border-bottom: 1px solid rgba($color: #fff, $alpha: .5);
   }

   ul {
      padding-left: 72rem;
   }

   li {
      margin-bottom: 60rem;

      .num {
         font-size: 25rem;
         font-weight: 300;
         margin-bottom: 16rem;
         padding-left: $padding-left;
      }
   }

   h3 {
      line-height: 1.44;
      font-weight: 300;
      display: inline-block;
      padding: 13rem $padding-left 17rem;
      margin-bottom: 22rem;
      border: 1px solid rgba($color: #fff, $alpha: .5);
      border-radius: 10rem;
   }

   img {
      width: 636rem;
      object-fit: contain;
      margin-top: auto;
   }

   p {
      padding-left: $padding-left;
   }
}