.sale-bar {
   font-size: 26rem;
   font-weight: 100;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   background: #000;
   transform: translate3d(0, -100%, 0);
   transition: .2s;
   border-bottom: 1px solid rgba(255,255,255,.5);

   &.active {
      transform: translate3d(0, 0, 0);
   }
   div {
      padding-top: 14rem;
      padding-bottom: 13rem;
      &:first-child {
         border-right: 1px solid rgba(255,255,255,.5);
      }
   }

   span:not(.d-none-desc) {
      font-weight: bold;
   }
}
@media (max-width: 767px) {
   .sale-bar {
      font-size: 9px;
      
      div {
         padding-top: 10px;
         padding-bottom: 10px;
      }

      span {
         img {
            display: inline;
            width: 10px;
         }
         &:first-child {
            display: block;
            font-size: 15px;
         }
      }
   }
}