.sale-bar {
   font-size: 26rem;
   font-weight: 100;
   // letter-spacing: normal;

   div {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding-top: 11rem;
      padding-bottom: 11rem;

      &:not(:last-child) {
         margin-right: 29rem;
         position: relative;

         &::after {
            content: '';
            position: absolute;
            width: 1px;
            right: -14rem;
            top: 8rem;
            bottom: 8rem;
            background-color: #fff;
         }
      }
   }

   span {
      font-weight: bold;
   }
}