.social {
    z-index: 10;

    &.fixed {
        padding: 100rem 93rem 50rem;
    }
    
    a {
        padding: 8px 0;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
    }
    img {
        width: 31rem;
        min-width: 16px;
    }
}