.social {
    z-index: 10;

    &.fixed {
        padding: 100rem 93rem 50rem;
    }
    
    a {
        margin-bottom: 14px;
        display: flex;
        justify-content: center;
        img {
            width: auto;
        }
    }
}