.team {
   .container {
      padding-top: 80rem;
      padding-right: 110rem;
      border-bottom: 1px solid rgba($color: #fff, $alpha: .5);
   }

   h2 {
      font-weight: 400;
   }

   h3 {
      font-size: 60rem;
   }

   h4 {
      margin-bottom: 12rem;
   }

   &__title {
      flex: 0 0 20%;
   }

   &__items {
      flex-grow: 1;
      gap: 30rem 0;
      padding-top: 50rem;
      border-top: 1px solid rgba($color: #fff, $alpha: 1.0);
      &>div {
         min-width: 200rem;
      }
      img {
         width: 25rem;
         margin-right: 10rem;
      }
   }
   p {
      margin-bottom: 15rem;
   }
   li {
      margin-bottom: 120rem;
      gap: 164rem;

      .num {
         font-size: 25rem;
         font-weight: 300;
         line-height: 1;
         margin-bottom: 3rem;
      }
   }
}

@media (max-width: 767px) {
   .team {
      .container {
         padding: 90px 0 45px;
      }

      h2 {
         margin-bottom: 40px;
      }

      h3 {
         font-size: 20px;
      }

      h4 {
         font-size: 17px;
      }

      &__title {
      }

      li {
         gap: 16px;
         margin-bottom: 40px;

         .num {
            font-size: 12px;
            margin-bottom: 6px;
         }
      }

      &__items {
         padding-top: 16px;
         // margin-top: 10px;
         gap: 15px 0;

         img {
            width: 12px;
            margin-right: 6px;
         }
         .half {
            width: 100%;
            // max-width: 100%;
         }
      }
   }
}